.env
# Thư mục chứa các thư viện Node.js 
node_modules/

# File log lỗi của npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Thư mục kết quả kiểm thử / coverage
coverage/
.nyc_output/
test/

.DS_Store
.vscode/